*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* GESTIONE ELEMENTO NAVBAR */

.navbar {
  height: 66px;
  background-color: white;
  border-color: rgba(217, 230, 213, 0);

}

/* gestisce logo nella navbar */
.navbar img {
  width: 160px;
  padding-top: 19px;
  text-align: center;
}

/* quando faccio over sui li seleziona a e dagli il colore .navbar #0069ff; */
.navbar ul li:hover a {
  color: #0069ff;
}

.navbar a {
  text-decoration: none;
  color: #031b4e;
}

.navbar button{
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid #0069ff;
  border-radius: 5px;
  color: #0069ff;
  font-weight: 700;
}
.navbar button:hover {
  background-color: #0069ff;
  color: #fff;
  border-color: #0069ff;
}

/* Gestione elementi navbar quando si RESTRINGE il sito */
.schermoPiccolo{
  text-align: right;
}

/* LABEL corrisponde al tasto del menu a scomparsa */
.schermoPiccolo label {
  /* debug */
  /* background-color: #0069ff; */
  /* debug end */
  color: #0069ff;
  padding: 21.24px 30px;
  margin-bottom: 0;
  display: inline-block;
  border-radius: 6px;
  font-size: 1.7rem;
}

/* Gestione elementi navbar quando si INGRANDISCE il sito */
.schermoGrande ul{
  padding-top: 19px;
}

/* gestisce elementi lista in navbar estesa */
.schermoGrande ul li {
  padding-top: 0.7rem;
  display: inline-block;
  font-size: 1.56rem;
  margin-right: 15.5px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 700;
}



/* GESTISCE L'EFFETTO A SCOMPARSA DEL MENU A HAMBURGER SENZA JS */

/* nasconde l'iconcina della checkbox */
input[type=checkbox]{
    display: none;
}

/* nasconde dal flusso l'elemento con la classe nascondino */
.nascondino{
    display: none;
}

/* ~ Selettore CSS che seleziona ogni elemento con la classe .nascondino SOLO SE è fratello diretto di un elemento input di tipo checkbox che ANCHE è checked*/
input[type=checkbox]:checked ~ .nascondino{
    display: block;
    padding-top: 14px;
    background-color: white;
    text-align: center;
}
/* FINE EFFETTO A SCOMPARSA DEL MENU A HAMBURGER */


/* FINE ELEMENTI NAVBAR */

/* ******************************************************************* */
/* ************************** ROBE GENERALI *************************+ */
/* ******************************************************************* */
body {
  padding-top: 66px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* ******************************************************************* */
/* ************************** SEZIONE JUMBOTRON ********************** */
/* ******************************************************************* */

.jumbotronMIO{
  background-image: url("img/bg-home-1-d54581d7.jpg");
  background-position: 50% 40%;
  background-size: cover;
  color: white;
  /* debug */
  /* margin-top: 55px; */
  /* fine debug */
  /* min-height: 700px; */
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.jumbotronMIO h1 {
  font-size: 62px;
  font-weight: 700;
}

.jumbotronMIO .testoSottoJumbotron {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.8)
}

.quadratoBiancoJumbotron {
  margin-top: -0.9rem;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  padding-bottom: 1.5rem;
}

.quadratoBiancoJumbotron h2:first-child {
  color: black;
  font-size: 29px;
  font-weight: 700;
  padding-top: 4rem;
}

.quadratoBiancoJumbotron h2:nth-child(2) {
  color: #0069ff;
  font-size: 29px;
  margin-top: -0.3rem;
  margin-bottom: 0.7rem;
  font-weight: 700;
}

.inputJumbotron input{
  width: 91.3%;
  padding: 11px;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* bottone crea account in jumbotron */
.inputJumbotron .createAccount{
  width: 91.3%;
  padding: 6px 16px;
  margin: 5px 0px;
  background-color: rgba(0, 105, 255, 0.75);
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.inputJumbotron .createAccount:hover{
  background-color: #1633ff;
}

/* bottone google in jumbotron */
.inputJumbotron .google{
  width: 91.3%;
  padding: 6px 16px;
  margin: 5px 0px;
  background-color: white;
  border-top: 0;
  border-left: 0;
  border-right: 1.5px solid rgba(0, 0, 0, 0.09);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

.inputJumbotron .google:hover{
  background-color: #f2f8ff;
}

/* gestisce il logo google dentro il bottone */
.inputJumbotron img{
  width: 20px;
  margin-right: 5px;
}

.quadratoBiancoJumbotron p{
  font-size: 1.35rem;
  font-weight: 700;
  color: black;
  margin-top: 0.8rem;
}

.quadratoBiancoJumbotron p a{
  color: #0069ff;
  text-decoration: underline;
}

/* ******************************************************************* */
/* ************************** innovativeBusiness ********************+ */
/* ******************************************************************* */

.innovativeBusiness{
  background-color: #f3f5f9;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 1.9rem;
}

.innovativeBusiness h4 {
  color: rgba(3, 27, 78, 0.5);
  font-size: 1.55rem;
  font-weight: 700;
}

.innovativeBusiness p {
  margin-top: 2rem;
}

.innovativeBusiness p i {
  font-size: 1.2rem;
}

.innovativeBusiness p a{
  color: #0069ff;
  font-size: 1.55rem;
  font-weight: bold;
  text-decoration: none;
}

.immaginiSchermoGrande img {
  display: inline-block;
  max-height: 50%;
  max-width: 14%;
  margin-left: 2rem;
}

/* tolgo il margin left alla prima immagine per non decentralizzarle */
.immaginiSchermoGrande img:first-child {
  margin-left: 0rem;
}

/* nasconde le immagini che verranno mostrate a schermo piccolo */
.immaginiSchermoPiccolo img {
  display: none;
}

/* ******************************************************************* */
/* ************************** DEPLOY *************************+ */
/* ******************************************************************* */
.deploy{
  background-color: white;
  color: rgba(3,27,78,.7);
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.deploy h1 {
  color: #031b4e;
  font-weight: 700;
}

.deploy p{
  font-size: 2.35rem;
}

/* gestione lista nella sezione deploy */
.deploy ul {
  text-align: left;
  margin-top: 5.5rem;
}

.deploy ul li{
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 10px;
  border-left: 2px solid #e5e8ed;
  font-size: 2rem;
}

.deploy ul li:hover{
  color: #031b4e;
  border-left: 2px solid #0069ff;
}

/* gestione elementi nelle colonne di deploy */
.clusterDeployment,
.optimized,
.oneClick,
.globalAvaib{
  text-align: left;
  min-height: 180px;
}
.clusterDeployment,
.optimized {
  margin-top: 5.5rem;
}

.clusterDeployment h4,
.optimized h4,
.oneClick h4,
.globalAvaib h4 {
  color: #031b4e;
  font-weight: 700;
  margin-top: 1.8rem;
}

.clusterDeployment p,
.optimized p,
.oneClick p,
.globalAvaib p {
  margin-top: 0.2rem;
  font-size: 1.60rem;
}

/* ******************************************************************* */
/* ************************** CONTACT ME *************************+ */
/* ******************************************************************* */
#contactMe{
  color:  #2c3e50;
  background-color: #f3f5f9;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 9rem;
}
#contactMe h1{
  font-size: 4.5rem;
}

/* gestisce le caratteristiche dei form */
#contactMe form input{
  width: 64%;
  line-height: 2;
  border: none;
  color: #495057;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  /* outline serve a togliere l'effetto "selezionato" ai form */
  outline: none;
}

/* aggiunge più padding bottom ai messaggi */
#contactMe form input:last-child{
  padding-bottom: 15rem;
}

#contactMe button {
  font-size: 2rem;
  background-color: #1abc9c;
  padding: 1.9rem 2.6rem;
  margin-top: 2.5rem;
  border-radius: 10px;
  border: #1abc9c 1px solid;
  color: white;
}

#contactMe button:hover{
  background-color: #159a80;
}

#contactMe .posizioneBottone{
  text-align: left;
  margin-left: 18.8%;
}

/* ******************************************************************* */
/* ************************** FOOTER *************************+ */
/* ******************************************************************* */

footer {
  text-align: center;
  color: white;
}
/* ************************** SezioniFooter *************************+ */
.sezioniFooter{
  background-color: #2c3e50;
  padding-top: 6.45rem;
  padding-bottom: 7.2rem;
}

.sezioniFooter p {
  font-size: 2rem;
}

.sezioniFooter .fab{
  font-size: 2rem;
  padding: 15px;
  border-radius: 35px;
  border: 2px #f8f9fa solid;
  margin-right: 0.8rem;
}

/* specifico il comportamento di facebook perché altrimenti sarebbe schiacciato
e è dopo gli altri  altrimenti css sovrascriverebbe*/
.sezioniFooter .fa-facebook-f{
  padding: 15px 18px;
  margin-left: 0.8rem;
}

.sezioniFooter .fab:hover{
  color: #212529;
  background-color: #f8f9fa;
}

.sezioniFooter a {
  color: #1abc9c;
}
.sezioniFooter a:hover {
  color: #117964;
  text-decoration: underline;
}

.sezioniFooter h3 {
  margin-bottom: 2.4rem;
}

/* ************************** Copyright *************************+ */
.copyright{
  padding-top: 2rem;
  padding-bottom: 1.8rem;
  background-color:  #1a252f;
}

.copyright h5{
  font-size: 1.28rem;
}

/* ************************************************************ */
/********************** AGGIUNTA DI MEDIAQUERY ******************/
/* ************************************************************ */

@media all and (max-width: 768px){
  body {
    /* padding-top: 66px; */
  }

  .schermoGrande{
    display: none;
  }

  .navbar ul{
    text-align: justify;
    font-weight: 700;
  }

  .navbar .ulSopra{
    display: inline-block;
  }

  .navbar .ulSopra li {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    font-size: 1.6rem;
  }

  .navbar .ulSotto{
    display: inline-block;
  }

  .navbar .ulSotto li:last-child {
    padding-top: 0.4rem;
    padding-bottom: 1rem;
  }

  .navbar .ulSotto li {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    font-size: 1.6rem;
    margin-left: 7rem;
  }

  /* jumbotron */
  .jumbotronMIO h1 {
    font-size: 39px;
  }

  .jumbotronMIO .testoSottoJumbotron {
    font-size: 2.25rem;
  }

  .immaginiSchermoGrande{
    display: none;
  }

  .immaginiSchermoPiccolo img {
    display: inline-block;
    max-width: 250px;
    width: 40%;
    margin-left: 3rem;
  }

  /* innovativeBusiness */
  .innovativeBusiness h4 {
    padding-bottom: 2rem;
  }

  .innovativeBusiness p {
    margin-top: 4.8rem;
  }

  /* deploy */
  .clusterDeployment{
    margin-top: 1.7rem;
  }


  .optimized {
    margin-top: 0rem;
  }

  .clusterDeployment,
  .optimized,
  .oneClick,
  .globalAvaib{
    min-height: 10px;
  }

}

@media all and (min-width: 768px) and (max-width: 992px){
  body {
    /* padding-top: 66px; */
  }
  .schermoGrande{
    display: none;
  }

  .navbar ul{
    text-align: justify;
    font-weight: 700;
  }
  .navbar .ulSopra li {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    display: inline-block;
    font-size: 1.6rem;
    margin-left: 5rem;
  }

  .navbar .ulSotto li {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    display: inline-block;
    font-size: 1.6rem;
    margin-left: 5rem;
    margin-right: 2.5rem;
  }

  /* jumbotron */
  .jumbotronMIO{
    padding-top: 6.1rem;
    padding-bottom: 7.5rem;
  }

  .jumbotronMIO h1 {
    font-size: 38px;
  }

  .jumbotronMIO .testoSottoJumbotron {
    font-size: 2.3rem;
  }

  .quadratoBiancoJumbotron p{
    font-size: 1.2rem;
  }

  /* innovative business */
  .innovativeBusiness p {
    margin-top: 1rem;
  }
  /* deploy */
  .clusterDeployment,
  .optimized,
  .oneClick,
  .globalAvaib{
    text-align: left;
    min-height: 250px;
  }
}

@media all and (min-width: 993px) and (max-width: 1200px){
  .schermoPiccolo{
    display: none;
  }

  /* jumbotron */
  .jumbotronMIO h1 {
    font-size: 50px;
  }

  .jumbotronMIO .testoSottoJumbotron {
    font-size: 2.4rem;
  }
}

@media all and (min-width: 1200px){
  .schermoPiccolo{
    display: none;
  }

}
